## Intro

<div class="alert alert-success">
This section is up to you and not necessary. 

I would recommend specifing the date you have done the exploration.

in addition you can specify possible problems and doubts regarding both your conclusions and the data itself in this section or in the Coclusions section. (such as biases in data, missing values, small number of samples to support some conclusion, etc)

## Conclusions

<div class="alert alert-success">

**A List of all of your conclusions from the Exploration**
    
No need to specify the actual tests and to explain why you have concluded these things. if the reader wants to deep dive into your tests he will be able to do so further down the notebook.

having said that, **ALWAYS** specify possible problems and doubts regarding both your conclusions and the data itself in this section if they were not mentioned in the Intro! (such as biases in data, missing values, small number of samples to support some conclusion, etc)

</div>

1. ....
2. ....

## Hypothesis & Tests

<div class="alert alert-success">

**This section is where you list out all your assumptions and the way you have tested them.**

It serves both yourself and the reader:
1. The reader - the reader that wants to understand how you have concluded the above conclusions without deep diving into your code.
2. Yourself - It makes it very easy to organize your thoughts and make sure you have tested everything you thought is necessary.

*Keep in mind:*
1. Understand what the data really means in "real life"!!
2. Missing values!
3. Total number of samples
4. Distribution of features
5. Write down all the things you have checked even if they failed - the failure itself may mean allot.
6. Duplicates!

</div>

0. Get an overview of who survived. Isolate those who survived and randomly choose 30 cases.

1. Hypothesis 1: Ticket classes are associated with survival rates. I assume that ticket classes are mapped onto specific locations on the ship, which were directly related to the ship's sinking patterns and thus to chances of surviving. 
    * test 1: explore the distribution of ticket class.
    * test 2: compute percentage of surviving per ticket class. 
    * plot.
 
2. Hypothesis 2: Older age is associated with decreased survival rates.
    * test 1: explore the distrbution of age; should it be re-grouped into a few categories, each covering a different range?
    * test 2: compute age stats (mean, median) under the two survival indices; if I turn age to a categorical variable, then
      compute percentage of surviving per age range. 
    * plot.

3. Hypothesis 3: Passengers who travelled alone are less likely to survive.
    * test 1: explore the distribution of 'sibsp' and 'parch'.
    * test 2: compute percentage of surviving for 'sibsp' and 'parch' (0 vs. >0).
    * plot.

4. Hypothesis 4: Males with families were less likely to survive (i.e. sex by 'sibsp' / 'parch' interaction).
    * test 1: explore the distribution of sex and its combination with 'sibsp' and 'parch'.
    * test 2: compute percentage of surviving for males and females with vs. without 'sibsp' and 'parch' (0 vs. >0).
    * plot.

## Implementation

### Test0

Description of test and the hypothesis:
-Data overview.
-Get an overview of survival.
Results and conclusions:
* Data overview:
- A lot of missing data for cabin. (still worth checking this later on; maybe all passengers in certain cabins drowned together).  
- ~180 missing cases for age. 
* Survival overview:
- Females seem to have survived more than men.
- Embarkation seems related to survival - I see more S than Q and C.
> ...

In [23]:
# setup and get data:
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

titanic_df = pd.read_csv("train.csv", index_col="PassengerId")
# data overview:
# titanic_df.head(n=20)
print(titanic_df.describe())
print(titanic_df.describe(include=object))

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
                                      Name   Sex Ticket    Cabin Embarked
count                                  891   891    891      204      889
unique                                 891     2    681      147        3
top     Goodwin, Master. William Frederick  male   1601  B96 B98        S
freq                                     1   577      7        4      644

In [25]:
# survival overview: 
titanic_df[titanic_df['Survived'] == 1].sample(n=30)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,0,1,11767,83.1583,C50,C
338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.00,1,1,C.A. 31921,26.2500,NaN,S
555,1,3,"Ohman, Miss. Velin",female,22.00,0,0,347085,7.7750,NaN,S
446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
636,1,2,"Davis, Miss. Mary",female,28.00,0,0,237668,13.0000,NaN,S
306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
574,1,3,"Kelly, Miss. Mary",female,NaN,0,0,14312,7.7500,NaN,Q
601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.00,2,1,243847,27.0000,NaN,S
147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
661,1,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S
83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
571,1,2,"Harris, Mr. George",male,62.00,0,0,S.W./PP 752,10.5000,NaN,S
642,1,1,"Sagesser, Mlle. Emma",female,24.00,0,0,PC 17477,69.3000,B35,C
709,1,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S
648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.00,0,0,13213,35.5000,A26,C
323,1,2,"Slayter, Miss. Hilda Mary",female,30.00,0,0,234818,12.3500,NaN,Q
570,1,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S
839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
370,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C
789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
312,1,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C

In [42]:
titanic_df.pivot_table(values="Survived", index="Sex", aggfunc='count')

        Survived
Sex
female       314
male         577

### Test2

Description of test and the hypothesis

Results and conclusions:
> ...

### Test3

Description of test and the hypothesis

Results and conclusions:
> ...

### Test4

Description of test and the hypothesis

Results and conclusions:
> ...